app_name="Movie Seeker"
app_url=""

# TMDB API KEY
API_KEY=""

# Database
db_name='movieseekerdb'
db_host=''
db_password=''
db_username = ""

port=""

# For Email Verification in account creation
smtp_host=""
smtp_username=""
smtp_password=""

# For setting up Google Sign In
google_client_ID=""
google_client_secret=""
google_redirect_uri=""

MAILTRAP_API_KEY=